<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<header>
    <nav>
        <div class="header_flex">
            <div class="header_logo">
                <img src="media/logo.png" alt="">
            </div>

            <div class="header_links">
                <a href="">Home</a>
                <a href="">Бла Бла</a>
                <a href="">Бла Бла</a>
                <a href="">Contact Us</a>

                <button href="" class="btn_ct">ask for help</button>
            </div>
        </div>
    </nav>

    <div class="textbox">
        <div class="textbox_title">
            <h1 class="header_title">Tuimedaq</h1>
            <h1 class="typerwrite_block">
                <a href="" class="typewrite" data-period="1500"
                   data-type='[ "Abuse is not okay", "Violence is never the solution", "Work for peace", "Love is what we need" ]'>
                    <span class="wrap"></span>
                </a>
            </h1>

            <div class="header_buttons">
                <a href="/16days">16 days</a>
                <a href="">mobile app</a>
            </div>
        </div>

        <div class="textbox_photo">
            <img src="media/photo2.png" alt="">
        </div>

    </div>
</header>

<main>
    <section class="block1">
        <div class="block1_holder">
            <h1>about</h1>
        </div>

        <div class="block1_main">
            <div class="block1_main-left">
                <h3>TÜİMEDAQ <span style="color:black">это проект,</span></h3>
                <p> созданный в рамках хакатона SheCodes, который был создан против харассмента в отношении женщин для создания более безопасной среды для людей.</p>
            </div>

            <div class="block1_main-right">
                <h3>Quisque. Maecenas. Eros mus. Hymenaeos eros. Nisi mauris et adipiscing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, id molestiae ex qui, exercitationem quam, illo deserunt quod nobis reiciendis nam ullam dolor non deleniti! Voluptates consequuntur libero eveniet cupiditate.</p>
            </div>
        </div>

        <div class="block1_main-sub">
            <div class="block1_main-sub-left">
                <img src="media/photo1.jpg" alt="">
            </div>
            <div class="block1_main-sub-right">
                <h3>"Я трижды подвергалась харассменту, трижды безнаказанно, трижды от всех вами известных рэперов. <span class="quote">МОЛЧАТЬ</span> об этом больше <span class="quote">НЕ БУДУ</span>"</h3>

                <p>Данеля Садыкова</p>
                <p class="singer">Певица Dequine</p>
            </div>
        </div>
    </section>

    <section class="block2">
        <div class="block2_holder">
            <h2>FEEDBACK</h2>
        </div>

        <div class="block2_main">
            <h3 id="blink7">Оставьте анонимную заявку сейчас</h3>
        </div>

        <div class="block2_form">
            <div class="block2-form-left">
                <input type="text" placeholder="Enter your Name">
                <input type="number" placeholder="Enter your Age">
                <br>
                <textarea placeholder="Enter your Message" name="" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" value="Представить">
            </div>

            <div class="block2-form-right">
                <h1>Свяжитесь с нами</h1>
                <hr>
            </div>
        </div>


    </section>


</main>

<footer>

</footer>

<script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function() {
            that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
</body>
