<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>
</head>
 	<!-- <div class="popup" style="width: 40vw; height: 40vw;">
		
			<div class="col-md-4 col-md-offset-4" style="margin-top: 6%;">
				<div>
					<p>Register Now
					</p>
				</div>
				<div class="form-group">
					<form id="form1" method="post">
						<input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
						<input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
						<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
						<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
						<input type="submit" value="Register" class="button-34">
					</form>
				</div>
				
				<div class="mssg bg-danger">
					<span id="check"></span>
				</div>
				<div>
					<h5>Already Registered! <a href="/login">Login</a></h5>
				</div>
				<div id="LangTable"><a href="/login" id="aa"></a>
				</div>
			</div>
	</div> -->
    <div class="col-md-4 col-md-offset-4" style="margin-top: 200px">
		<div>
			<p>Register Now</p>
		</div>
		<div class="form-group">
            <form id="form1" method="post">
                <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
                <input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
                <input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
                <input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
                <input type="submit" value="Register" class="btn btn-primary">
            </form>
		</div>
		<div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
		<div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a></div>
		<div><span>Already Registered!</span><a href="/login">Login</a></div>

		</div>
		
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
</body>
</html>