*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('views/media/bg_header.png');
    background-position: center;
    background-size: cover;
}

nav{
    background-color: white;
}

.header_flex{
    height: 80px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.header_logo img{
    width: 150px;
}

.header_links a{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 80px;
    color: rgb(104, 8, 194);
    transition: 0.5s;
    font-size: 16px;
}

.header_links a:hover{
    color:#F7859C;
    transform: scale(1.1)
}

.textbox{
    color: white;
    width: 80%;
    margin: auto;
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textbox_title, .textbox_photo{
    flex-basis: 45%;
}

.textbox_photo img{
    width: 100%;
}

.textbox h1{
    text-transform: uppercase;
    font-size: 52px;
}

.typewrite{
    text-transform: lowercase;
    text-decoration: none;
    color: white;
    font-size: 28px;
    color:#F7859C;
}

.header_buttons{
    padding-top: 20px;
    display: flex;
}

.header_buttons a, .btn_ct{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    background-color: rgba(104, 8, 194, 0.1);
    padding: 12px;
    margin-right: 40px;
    border-radius: 10px;
    transition: 1s;
    display: block;
}

.btn_ct{
    display: inline;
    background-color: rgba(104, 8, 194, 0.5)
}

.header_buttons a:hover, .btn_ct:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #F7859C;
}

.block1_holder{
    width: 90%;
    margin: auto;
    color:rgba(255, 175, 228, 0.3);
    font-size: 50px;
    margin-top: 5%;
}

.block1_main{
    width: 80%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
}

.block1_main-left, .block1_main-right{
    flex-basis: 45%;
}

.block1_main-left h3{
    font-size: 16px;
    color: #F7859C;
}
.block1_main-left p{
    margin-top: 20px;
    font-size: 20px;
}

.block1_main-right h3{
    font-size: 18px;
    text-transform: uppercase;
    color:rgb(104, 8, 194);
}

.block1_main-right p{
    font-size:14px;
    margin-top: 17px;
    line-height: 1.5;
    color: grey;
}

.block1_main-sub{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block1_main-sub-left img{
    width: 80%;
}

.block1_main-sub-right h3{
    line-height: 1.5;
    width: 400px;
    padding-bottom: 30px;
}

.block1_main-sub-right p{
    padding-bottom: 10px;
    color:blueviolet;
    text-transform: uppercase;
}

.quote{
    color: #F7859C;
    font-size: 25px;
    font-style: italic;
}

.block1_main-sub-right .singer{
    color:grey;
    text-transform: capitalize;
}

.block2{
    margin-top: 7%;
    height: 70vh;
    background-color: rgb(59, 0, 114);
}

.block2_holder{
    width: 90%;
    margin: auto;
    color:rgba(255, 175, 228, 0.2);
    font-size: 50px;
    padding-top: 3%;
    text-align: center;
}

.block2_main{
    width: 80%;
    margin: auto;
    text-align: center;
}

.block2_main h3{
    text-transform: uppercase;
    font-size: 24px;
}

@-webkit-keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
#blink7 {
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

.block2_form{
    display: flex;
    width: 70%;
    margin: 4% auto;
    justify-content: center;
}

.block2-form-left{
    background-color: white;
    flex-basis: 30%;
}

.block2-form-right{
    background-color: black;
    flex-basis: 30%;
}